@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --background-color: hsl(0, 0%, 100%);
  --color-input-error: hsl(0, 100%, 66%);
  --input-color: hsl(270, 3%, 87%);
  --color-placeholder: hsl(279, 6%, 55%);
  --button-h1-color: hsl(278, 68%, 11%);
  --font-size-geral: 18px;
  --font-primary: "Space Grotesk", sans-serif;
  --linear-gradient: linear-gradient(27deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

