@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --background-color:  hsl(0, 0%, 100%);
    --color-input-error: hsl(0, 100%, 66%);
    --input-color: hsl(270, 3%, 87%);
    --color-placeholder: hsl(279, 6%, 55%);
    --button-h1-color: hsl(278, 68%, 11%);

    --font-size-geral: 18px;

    --font-primary: "Space Grotesk", sans-serif;

    --linear-gradient: linear-gradient(27deg, hsl(249, 99%, 64%),  hsl(278, 94%, 30%));
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    font-family: var(--font-primary);
    font-size: 18px;

    @media (min-width:1024px) {
        display: flex;
        flex-direction: row;
    }
}

.fundo-roxo {
    height: 230px;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: 100vw 33.33vh; 

    @media (min-width: 1024px) {
        background-image: url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        width: 33vw;
        height: 100vh;
        background-size: 30vw 100vh;
    }
}

nav {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    

    @media (min-width:1024px) {
        position: absolute;
        top: 50%;
        margin: auto 0;
        width: 50vw;
        height: 100vh;

    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;

        @media (min-width: 1024px) {
            height: 100vh;
            z-index: 2;
            
        }

        img {
            width: 250px;

            @media (min-width: 1024px) {
                width: 400px;
                
            }
        }

        .card-backside {
            position: absolute;
            padding-left: 50px;
            top: 40px;

            @media (min-width: 1024px) {
                top: 250px;
                margin-left: 150px;;
            }
        }

        .card-logo {
            position: absolute;
            top: 135px;
            z-index: 3;
            width: 40px;
            padding-right: 233px;

            @media (min-width: 1024px) {
                margin-left: 20px;
                top: 30px;
                width: 64px;
            }
        }

        .card-frontside {
            position: absolute;
            padding-right: 50px;
            top: 117.7px;

            @media (min-width: 1024px) {
                margin-left: 100px;
                top: 0px;
            }
        }
    }

    .back {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;

        padding-left: 220px;

        @media screen {
            position: absolute;
            z-index: 3;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

        }

        span {
            position: absolute;
            top: 101px;

            color: var(--background-color);
            font-size: 10px;

            @media (min-width:1024px) {
                font-size: 17px;
                padding-left: 180px;
                padding-top: 247px;
                
            }
        }
    }

    .front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 3;

        padding-right: 53px;

        @media (min-width:1024px) {
            width: 250px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 100px;
            
        }

        .dados {
            position: absolute;

            height: 50px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            top: 195px;

            @media (min-width:1024px) {
                position: absolute;
                z-index: 3;
                top: 130px;

            }

            h1 {
                font-size: 20px;
                font-weight: 500;
                color: var(--background-color);

                @media (min-width:1024px) {
                    font-size: 32px;
                    position: relative;
                    
                }

            }

            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                span {
                    font-size: 10px;
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    @media (min-width:1024px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

main {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vw;

    @media (min-width:1024px) {
        margin-left: 300px;
        height: 100vh;
        display: flex;
        justify-content: center;
    }


    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 60px;
        width: 300px;
        height: 250px;
        
        font-size: 8px;
        text-transform: uppercase;

        @media (min-width:1024px) {
            height: 300px;
        }

        input {
            padding-left: 10px;
            outline: 1;
            
            
        }

        input::placeholder {
            font-family: var(--font-primary);
            color: var(--color-placeholder);
            
        }


        h1 {
            color: var(--button-h1-color);
            letter-spacing: 1px;

        }

        .input-name {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50px;
            width: 300px;

            input {
                height: 25px;
                border: 2px solid var(--input-color);
                border-radius: 4px;
                
            }
           
        }

        .input-number-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50px;
            width: 300px;

            input {
                height: 25px;
                border: 2px solid var(--input-color);
                border-radius: 4px;
            }
        }

        .input-date-cvc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 300px;
            height: 50px;

            .date-cvc {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 210px;
                
            }

            .input {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 300px;
                
                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 160px;

                    input {
                        height: 25px;
                        width: 60px;
                        border: 2px solid var(--input-color);
                        border-radius: 4px;
                    }
                }

                .cvc {
                    width: 120px;
                    border: 2px solid var(--input-color);
                    border-radius: 4px;
                }
            }
        }

        .confirm {
            width: 300px;
            height: 45px;
            background-color: var(--button-h1-color);
            font-family: var(--font-primary);
            font-size: var(--font-size-geral);
            color: var(--background-color);
            border: none;
            border-radius: 6px;
        }
    }
}